{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content%}
<div class="container">
    <h3 class="text-center">Password Reset</h3>
    <div class="col-4 offset-4 text-center alert alert-success">
        <h6>
            Please enter your new password so we can verify.
        </h6>
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-primary btn-block" type="submit" value="Reset Password"/>
        </form>
    </div>
</div>
{% endblock%}
